sources:
  /home/ec2-user/sources-ec2api.zip: http://s3.amazonaws.com/ec2-downloads/ec2-api-tools.zip

files:
  "/home/ec2-user/ec2cli.zip" :
    mode: "000644"
    owner: ec2-user
    group: root
    source: http://s3.amazonaws.com/ec2-downloads/ec2-api-tools.zip

container_commands:
  replace-httpd-nginx:
    command: "/bin/bash .ebextensions/nginx/nginx-eb.sh"